<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>sangao</display-name>
    <servlet>
        <servlet-name>Pacientes</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Pacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Convenios</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Convenios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coletas</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Coletas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pacientes</servlet-name>
        <url-pattern>/Pacientes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Usuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Convenios</servlet-name>
        <url-pattern>/Convenios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coletas</servlet-name>
        <url-pattern>/Coletas</url-pattern>
    </servlet-mapping>
</web-app>
