<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>sangao</display-name>
    <servlet>
        <servlet-name>Pacientes</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Pacientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamesClientes</servlet-name>
        <url-pattern>/ExamesClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCliente</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciadorExames</servlet-name>
        <url-pattern>/GerenciadorExames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clientes</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctors</servlet-name>
        <url-pattern>/Doctors</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            index.jsp
            </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Medicos</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Medicos</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>Medicos</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Medicos</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>Resultados</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Resultados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Convenios</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Convenios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coletas</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Coletas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorios</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Relatorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamesClientes</servlet-name>
        <servlet-class>br.com.self.sangao.front.exames.ExamesClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCliente</servlet-name>
        <servlet-class>br.com.self.sangao.front.servlets.LoginCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciadorExames</servlet-name>
        <servlet-class>br.com.self.sangao.front.servlets.GerenciadorExames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clientes</servlet-name>
        <servlet-class>br.com.self.sangao.front.servlets.Clientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctors</servlet-name>
        <servlet-class>br.com.self.sangao.front.servlets.Doctors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pacientes</servlet-name>
        <url-pattern>/sgc/Pacientes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>br.com.self.sangao.servlets.Usuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/sgc/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resultados</servlet-name>
        <url-pattern>/sgc/Resultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Convenios</servlet-name>
        <url-pattern>/sgc/Convenios</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>Medicos</servlet-name>
        <url-pattern>/sgc/Medicos</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/sgc/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coletas</servlet-name>
        <url-pattern>/sgc/Coletas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorios</servlet-name>
        <url-pattern>/sgc/Relatorios</url-pattern>
    </servlet-mapping>
</web-app>
